### Python / Django ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
/backend/staticfiles/
/var/logs/

# Environments
.env
.env.*
.env.local
.env.development
.env.production
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PostgreSQL credentials (jangan commit ini!)
*.pgpass
postgresql/data/
/pgdata/

### Media ###
# Abaikan file unggahan, tapi pertahankan folder melalui media/.keep
backend/media/*
!backend/media/.keep

### Frontend (Node.js) ###
# Dependencies
/node_modules/
/frontend/node_modules/
/.pnp
.pnp.js

# Build files
/dist/
/build/
/out/
.next/

# Cache & Logs
.eslintcache
.yarn-integrity
.pnpm-debug.log*
npm-debug.log*
yarn-error.log*

### Editor / OS ###
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
.DS_Store
Thumbs.db
