asgiref==3.8.1
Django==5.2.1
django-simple-history==3.8.0
django-taggit==6.1.0
djangorestframework==3.16.0
flake8==7.2.0
mccabe==0.7.0
pillow==11.2.1
psycopg2-binary==2.9.10
pycodestyle==2.13.0
pyflakes==3.3.2
sqlparse==0.5.3
tzdata==2025.2
django-extensions==4.1
